footer { background-color:#0c1a1e; min-height:200px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }


.panel-info > .panel-heading{
	text-align: center;
}

.jumbotron{
	padding-top: 100px;
    padding-bottom: 100px;
}

div.col-xs-6 p{
	 font-size: 14px;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-brand > img {
    width: 180px;
}

.navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-top: -25px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 26px;
}

.btn-primary{
	margin-bottom: 15px;
}

.bs-component h2{
	    font-size: 22px;
    font-weight: bold;
}

.jumbotron p{
	font-size: 16px;
}

